/* Общие стили для макета, меню и контейнеров */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  position: relative;
}

.container {
  text-align: center;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn-container {
  position: absolute;
  bottom: 50px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-btn {
  position: relative;
  width: 40px;
  height: 4px;
  background: linear-gradient(45deg, rgb(103, 34, 240) 0%, rgb(85, 0, 182) 100%);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}

.menu-btn:before,
.menu-btn:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  left: 0;
  background: linear-gradient(45deg, rgba(103, 34, 240) 0%, rgba(85, 0, 182) 100%);
  transition: all 0.5s;
}

.menu-btn:before {
  top: -12px;
}

.menu-btn:after {
  top: 12px;
}

.menu-btn.open {
  transform: rotate(225deg);
}

.menu-btn.open:before,
.menu-btn.open:after {
  top: 0;
}

.menu-btn.open:after {
  transform: rotate(90deg);
  width: 40px;
}

.menu {
  display: none;
  margin-top: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.menu ul li {
  padding: 5px 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex: 1;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu ul li.active {
  background-color: #ff6347;
}

.menu ul li a:hover {
  color: #ff6347;
}

.menu.open {
  display: flex;
  width: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #ff6347;
}

.balance,
.total-balance,
.clicks {
  font-size: 2em;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.round-button {
  width: calc(20vw + 100px);
  height: calc(20vw + 100px);
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  background-color: #ff6347;
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.round-button:hover {
  background-color: #ff4500;
}

.profile-container {
  text-align: left;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  border-radius: 1rem;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;
  padding: 0.3rem;
  gap: 0.3rem;
}

.input-container input {
  border-radius: 0.8rem;
  background: #23272f;
  box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255,212,59,0), 0px 0px 100px rgba(255,102,0,0);
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border: 1px solid #ffd43b;
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(255,102,0,0.5), inset 0px 0px 10px rgba(255,212,59,0.5), 0px 0px 100px rgba(255,212,59,0.5), 0px 0px 100px rgba(255,102,0,0.5);
}